{% extends 'base.html.twig' %}

{% block title %}Tous les cours{% endblock %}

{% block body %}
    <section class="cc-courses py-5">
        <div class="container">
            <div class="row cc-courses-inner">
                <header class="section-header">
                    <h2 class="main-title">Lorem ipsum dolor sit amet, consectetur.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem earum molestiae pariatur
                       suscipit vero. At ea hic illum impedit iste, minus natus nemo nostrum perspiciatis reiciendis
                       repudiandae similique temporibus ullam.</p>
                </header>
                <div class="row">
                    {% for cours in courses %}
                        <div class="col-lg-4 col-md-6 mb-3">
                            <div class="cc-courses-item">
                                <img src="{{ cours.banner }}" alt="">
                                <div class="hover_text">
                                    <a class="cc-btn cc-btn-outline mb-2" href="#">Gratuit</a>
                                    <a href="#"><h4>{{ cours.title }}</h4></a>
                                    <ul class="list d-flex">
                                        <li><a href="#"><i class="fas fa-users"></i> 355</a></li>
                                        <li><a href="#"><i class="fas fa-comment"></i> 35</a></li>
                                        <li><a href="#"><i class="fas fa-user"></i> {{ cours.user.lastName }}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation" class="blog-pagination">
                        {% if totalPages > 1 %}
                            <ul class="pagination">
                                {% if page > 1 %}
                                    <li class="page-item">
                                        <a class="page-path" href="?page=1">
                                            <span><i class="fas fa-step-backward"></i></span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-path" href="?page={{ page - 1 }}">
                                            <span><i class="fas fa-angle-double-left"></i></span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for item in 1 .. totalPages %}
                                    <li class="page-item">
                                        <a class="page-path {{ (page == item) ? 'active' : '' }}" href="?page={{ item }}">
                                            {{ item }}
                                        </a>
                                    </li>
                                {% endfor %}

                                {% if page < totalPages %}
                                    <li class="page-item">
                                        <a class="page-path" href="?page={{ page + 1 }}">
                                            <span><i class="fas fa-angle-double-right"></i></span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-path" href="?page={{ totalPages }}">
                                            <span><i class="fas fa-step-forward"></i></span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
