{% extends 'base.html.twig' %}

{% block body %}
    <!-- Banner section -->
    <section class="banner single-banner" id="banner"
             style="{{ post.setBanner(asset('uploads/posts/' ~ post.images[0].name)) }}">
        <div class="container">
            <div class="banner-wrapper">
                <h1 class="b-title text-orange ubuntu mb-3">{{ post.title }}</h1>
                <div class="page-path">
                    <a href="{{ path('home') }}">Accueil<i class="fas fa-caret-right"></i></a>
                    <a href="{{ path('blog') }}">Blog<i class="fas fa-caret-right"></i></a>
                    <a href="{{ path('single', {'slug': post.slug}) }}">{{ post.title }}</a>
                </div>
            </div>
        </div>
    </section><!-- End banner section -->

    <!-- Blog area -->
    <div class="blog-area single-post-area py-70" id="blog-area">
        <div class="container">
            <div class="area-wrapper row">
                <div class="col-lg-8">
                    <div class="post-elt pb-sm-5 pb-lg-0">
                        <div class="single-post cc-row"><!-- single post details -->
                            <div class="blog-info col-lg-3 col-md-12">
                                <div class="post-tag">
                                    {% for category in post.category %}
                                        <a href="#">{{ category }}, </a>
                                    {% endfor %}
                                </div>
                                <ul class="blog-meta">
                                    <li class="author">
                                        <a href="#">
                                            {{ post.author.fullName }}
                                            <i class="ri-user-2-fill"></i>
                                        </a>
                                    </li>
                                    <li class="date">
                                        <a href="#">
                                            {{ post.createdAt | date("Y-m-d H:i") | format_datetime('medium', 'short', locale='fr') }}
                                            <i class="ri-calendar-2-fill"></i>
                                        </a>
                                    </li>
                                    <li class="consulted">
                                        <a href="#">Consulte 1.2M de fois
                                            <i class="far fa-eye"></i>
                                        </a>
                                    </li>
                                    <li class="comments">
                                        <a href="#">197 commentaires
                                            <i class="fas fa-comments"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="post-img col-lg-9 col-lg-12">
                                {#                            <img class="img-fluid"#}
                                {#                                 src="{{ asset('/uploads/posts/' ~ post.images[0].name ) | imagine_filter('posts_blog') }}"#}
                                {#                                 alt="{{ post.title }}">#}
                            </div>

                            <div class="blog-details px-15">
                                <h2 class="post-title">{{ post.title }}</h2>
                                <p>{{ post.content | raw }}</p>
                            </div>
                        </div><!-- End single post details -->

                        <div class="navigation-area px-15 row"><!-- Navigation begin -->
                            <div class="nav-left px-15"><!-- Article précedent -->
                                <?php if ($key > 0): ?>
                                <div class="thumb mr-1">
                                    <a href="single.php?id=<?= $prevPost->id ?>"><img src="<?= $prevPost->post_image ?>"
                                                                                      alt="" class="img"></a>
                                </div>
                                <div class="arrow"><a href="#"><i class="fas fa-arrow-left"></i></a></div>
                                <div class="details">
                                    <p><small>Article précédent.</small></p>
                                    <a href="single.php?id=<?= $prevPost->id ?>">
                                        <h4><?= $prevPost->title ?></h4>
                                    </a>
                                </div>
                                <?php endif; ?>
                            </div><!-- Fin Article précedent -->
                            <div class="nav-right px-15"><!-- Article suivant -->
                                <?php if($key < count($postsId) - 1): ?>
                                <div class="thumb ml-1">
                                    <a href="single.php?id=<?= $nextPost->id ?>"><img src="<?= $nextPost->post_image ?>"
                                                                                      alt="" class="img"></a>
                                </div>
                                <div class="arrow"><a href="single.php?id=<?= $nextPost->id ?>"><i
                                                class="fas fa-arrow-right"></i></a></div>
                                <div class="details">
                                    <p><small>Article suivant.</small></p>
                                    <a href="single.php?id=<?= $nextPost->id ?>">
                                        <h4><?= $nextPost->title ?></h4>
                                    </a>
                                </div>
                                <?php endif; ?>
                            </div><!-- Fin Article suivant -->
                        </div><!-- End Navigation -->

                        <div class="comment-area px-15" id="comment-area">
                            <h4>00 Commentaires</h4>
                            <div class="comment-row mb-1">
                                <div class="single-comment cc-row">
                                    <div class="thumb px-15">
                                        <img src="<?= $comment->image ?>" alt="" class="img">
                                    </div>
                                    <div class="desc px-15">
                                        <h5><a href="#">@Utilisateur</a></h5>
                                        <div class="comment-options">
                                            <p class="cc-row">
                                                <small class="date px-15">17 Fev. 2022</small>
                                                <small class="reply px-15">Répondre</small>
                                            </p>
                                            <p class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                               Beatae consectetur cum distinctio dolorem esse harum hic,
                                                               mollitia neque, quidem quod sapiente voluptatum.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="comment-form px-15">
                            <h4>Laissez un commentaire</h4>
                            <form action="" method="post">
                                <div class="cc-form-group cc-form-inline">
                                    <div class="cc-form-group">
                                        <input type="text" name="name" class="cc-form-control" placeholder="Votre nom"
                                               >

                                    </div>
                                    <div class="cc-form-group">
                                        <input type="text" name="firstname" class="cc-form-control"
                                               placeholder="Votre prénom">

                                    </div>
                                </div>

                                <div class="cc-form-group">
                                    <input type="email" name="email" class="cc-form-control" placeholder="Votre email"
                                           >
                                </div>

                                <div class="cc-form-group">
                                    <textarea cols="30" rows="5" name="message" class="cc-form-control"
                                              placeholder="Votre message"></textarea>
                                </div>

                                <button class="cc-btn cc-btn-outline" type="submit">
                                    Commenter
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="blog-right-side">
                        {% include 'blog/sidebar_widget/search_widget.html.twig' %}
                        {% include 'blog/sidebar_widget/author_widget.html.twig' %}
                        {% include 'blog/sidebar_widget/popular_post_widget.html.twig' %}
                        {% include 'blog/sidebar_widget/ads_widget.html.twig' %}
                        {% include 'blog/sidebar_widget/post_category_widget.html.twig' %}
                        {% include 'blog/sidebar_widget/newsletter_widget.html.twig' %}
                        {% include 'blog/sidebar_widget/tag_cloud_widget.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/_contact_author_form.html.twig' %}
{% endblock %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            let title = document.querySelector('#contact_author_form_title');
            title.setAttribute('disabled', 'true');
            title.value = "{{ post.title | raw }}";
            document.querySelector('#contactAuthorLabel').textContent = 'Ecrire à {{ post.author.fullName }}'
        }
    </script>
{% endblock %}

